/*VARIABLES*/

:root {
  --neutral-white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);

  --active-input-gradient: linear-gradient(
    hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
  );
  --error-input: hsl(0, 100%, 66%);
}

/*GENERICS*/
.upp {
  text-transform: uppercase;
}

.db {
  display: block;
}

.mr-1 {
  margin-right: 1rem;
}

/*HTML ELEMENTS*/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
}

main {
  background-color: var(--neutral-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

section.card {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
}

.colored-background {
  background: url(./images/bg-main-desktop.png) center / cover no-repeat;
}

.card-front,
.card-back {
  color: var(--neutral-white);
  position: absolute;
  border-radius: 10px;
  width: 400px;
  height: 210px;
  box-shadow: 3px 10px 25px 8px rgba(0, 0, 0, 0.15);
}

.card-front {
  top: 150px;
  left: 200px;
  background: url(./images/bg-card-front.png) center / cover no-repeat;
}

.card-front__infos {
  height: 80%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-front__infos span {
  display: block;
}

.infos__last {
  display: flex;
  justify-content: space-between;
}

.card-viz-number {
  font-size: 2.4rem;
  letter-spacing: 3.5px;
  word-spacing: 5px;
  margin-top: 1rem;
}

.card-back {
  top: 390px;
  left: 260px;
  background: url(./images/bg-card-back.png) center / cover no-repeat;
}

.card-viz-exp {
  position: absolute;
  top: 93px;
  right: 45px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin-right: 20rem;
}

label {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: var(--very-dark-violet);
}

input {
  min-height: 40px;
  margin: 1rem 0 2rem 0;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 5px;
}

input::placeholder {
  color: var(--light-grayish-violet);
}

.row {
  display: flex;
}

.cell-1 input {
  max-width: 35%;
}

button {
  color: var(--neutral-white);
  background-color: var(--very-dark-violet);
  min-height: 50px;
  border-radius: 10px;
  border: none;
}

.hide {
  display: none;
}

footer {
  min-height: 40px;
  background-color: var(--very-dark-violet);
  filter: hue-rotate(70deg);
  color: var(--neutral-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 10px 0;
}
